<html>
<head>
<meta http-equiv="refresh" content="2">
<title>HAproxy Demo</title>

<style>
body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
</style>


</head>

<body>
<div class="block" style="height: 99%;">
    <div class="centered">
        <h1>Round-Robin with LXD and HAproxy</h1>
        <p>This page was served by: <b>{{ ansible_hostname }}</b></p> 
        <p>With the IP address: <b>{{ ansible_eth0.ipv4.address }}.</b></p>
<p>Demonstration created by the <a href="https://micrometre.co.uk/?articles=load-balancing-with-haproxy-and-lxd" target="_blank">micrometre</a> team.</p>
        </b></p> 
    </div>
    
</div>
</body>
</html>
